
.icon-users:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */