body
{
    background-image: linear-gradient(45deg, #B01080 , black);
	  color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

/* menu */
.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(45deg, black, #B01080);
  z-index: 1;
  opacity:0.9;
  margin-top: -60px;
  text-align: center;
  }

  a .menu_item:hover {
    color: rgb(143, 143, 143);
    text-decoration: none;
  }

  .menu_item {
  display: inline-block;
  height: 60px;
  float: inline-end;
  margin: 0px 3vw;
  color: white;
  }

  span.menu_icon {
    display: block;
    position: relative;
    top: -20px;
    font-size: 20px;
  }

  /* .menu_link {
    display: block;
    height: 40px;
  } */

/* flex_box */

.box {
    color:white;
    font-size: 40px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
  }
  
  .box1 { background:#B01080;}
  .box2 { background:#6D1DB6;}
  .box3 { background:#DE1469;}
  .box4 { background:#B01080;}
  .box5 { background:#6D1DB6;}
 
  .container_flex {
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .box1 {
    flex: auto;
    
    } 

  .box1 p {
    text-align: center;
    margin: auto;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.932);
    }

  .box1 img {
    height: 35vh;
    margin: 20px;
    } 
  .box2 {
    flex: auto;
    text-align: center;
    }

  .box2 p, ul {
    max-width: 60vw;
    text-align: center;
    font-size: 18px;
    margin: 5vh auto;
    }

  p.big {
    font-size: 32px;
    font-weight: 400;
    }

  .box3 {
    flex: auto;
    }

  .box3 img {
    height: 15vh;
    margin: 10px;
    }

  .box4 {
    flex: auto;
    }

  .box4 p.header {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    }

  .box4 p.addres {
    font-weight: 300;
    font-size: 22px;
    }

  .box4 a.email {
    text-decoration: none;
    color: white;
  }

  .box4 a.email:hover {
    text-decoration: underline;
    color: white;
  }

  .box5 {
    flex: auto;
    }

  .box5 img {
    height: 10vh;
    margin: 10px;
    border: 2px solid #DE1469;
    box-shadow: 5px 5px 15px black;
    }

/* bootstrap */
h1
{
	font-size: 40px;
  font-weight: 400;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
	color: rgb(255, 255, 255);
  margin: 20px;
  text-align: center;
}

.container img {
  /* border-radius: 6px; */
  border: 3px solid #DE1469;
  box-shadow: 5px 5px 25px black;

}

.bootstrap
{
	text-align: center;
	padding: 0;
}

/* images effects */

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay .link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #DE1469;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  color: white;
}

.overlay:hover .link {
  opacity: 0.8;
  text-decoration: none;
}

.icon {
  display: block;
  position: relative;
  top: 25%;
  font-size: 50px;
}

.icon p {
  font-size: 20px;
}

/* .bootstrap p {
	margin-bottom: 30px;
}

.bootstrap figcaption {
	margin-top: 8px;
} */
